h2{
    border: 2px solid rgb(0, 30, 255) ;
    margin-right:85%; 
    border-radius: 12px;
    padding: 20px;
    background-color: aquamarine;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: center;

}
/**/
p{
    border: 3px solid rgb(222, 6, 6);
    
    margin-right:50%;
    border-radius: 12px;
    padding: 30px;
    background-color:bisque;
    margin-left: 30px;
}
body{
    margin-top: 50px;
    margin-bottom: 50px;
   }

 .xe{
    width: 70%;
    padding: 30px;
    background-color: aqua;
}

.ex{
    width: 300px;
    padding: 30px;
    box-sizing:content-box;
    background-color: brown;
    margin-top: 50px;
}